html{
	height: 100%;
}

body{
	padding: 0;
	margin: 0;
}

a{
	cursor:pointer;
	text-decoration: none;
}

.conteiner{
	display: flex;
	background-color: #FFFFFF;
	padding: 0px 20px;
	height: 95%;
	flex-direction: column;
	justify-content: center;
}

.menu-conteiner{
	visibility: hidden;
	display: none;
}

.topbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tp-links{
	display: flex;
	width: 400px;
	justify-content: space-between;
}

.tp-links a{
  padding: 10px 20px;
  background:#6aa6f9;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.texto{
	display: flex;
	flex-direction: column;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

	font-family: Roboto, sans-serif;
	font-weight: 0;
	font-size: 14px;
	color: #fff;
	background-color: #000000;
	padding: 10px 30px;
	border: solid #000000 2px;
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
	border-radius: 50px;
	transition : 1000ms;
	transform: translateY(0);
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;	
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #000000;
border: solid 2px #aa52c7;
}




@media (max-width: 550px){
	body{
		overflow-x: hidden;
		height: 100%;
		width: 100%;
	}
	
	.menu-conteiner{
		visibility: visible;
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		width: 100%;
		background-color: #FFFFFF;
	}
	
	.conteiner{
		background-color: #FFFFFF;
		padding: 80px 20px 0 ;
		height: 100vh;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	.topbar{
		visibility: hidden;
		display: none;
	}

	.main-conteiner{
		padding: 0 0 150px;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.main{
		flex-direction: column;
	}
}